body {
  background-color: bisque;
}

.navigation-links a {
  color: white;
  margin: 20px;
  text-decoration: none;
  padding: 15px;
  border-radius: 10px;
  background-color: #eba300;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
